body {
    margin: 0;
    overflow: scroll;
  }

.dropdown {
  display: none;
  list-style-type: none;
  padding-left: 1cm;
}

#settings_img {
  padding-left:1cm;
}

#settings_dropdown {
  padding-left: 3cm;
  background-color: rgb(60, 60, 60);
  color:white
}
